{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
<div class="layout-container">
  {{ include('ui_suite_dsfr:skiplinks', {
    items: [
      include('ui_suite_dsfr:link', {
        label: 'Content'|t, url: '#main-content',
      }, with_context: false),
      include('ui_suite_dsfr:link', {
        label: 'Menu'|t, url: '#page-header--menu',
      }, with_context: false),
      include('ui_suite_dsfr:link', {
        label: 'Footer'|t, url: '#footer',
      }, with_context: false),
    ],
    label: 'Skip links'|t|render,
  }, with_context: false) }}

  {{ include('ui_suite_dsfr:header', {
    operator_logo: page.header_operator_logo,
    service_title: site_name,
    service_tagline: site_slogan,
    tools_links: page.header_tools_links|render,
    tools_search: page.header_tools_search,
    navbar: page.header_navbar,
    logo_text: logo_text,
    home_url: path('<front>'),
    id: 'page-header',
  }, with_context: false) }}
  {{ page.top }}
  <main role="main" class="{{ container }} fr-mb-4w fr-mt-4w" id="main-content">
    {% if page.sidebar_first and page.sidebar_second %}
      {{ include('ui_suite_dsfr:grid_row_3', {
          cols: [6, 3, 3],
          cols_sm: [12, 12, 12],
          cols_md: [12, 6, 6],
          cols_lg: [6, 3, 3],
          first: page.content,
          second: page.sidebar_first,
          third: page.sidebar_second,
          with_gutters: true,
          first_attributes: {
            style: 'order: 2',
          },
          second_attributes: {
            style: 'order: 1',
            role: 'complementary',
          },
          third_attributes: {
            style: 'order: 3',
            role: 'complementary',
          },
        }, with_context: false) }}
    {% elseif page.sidebar_first and not page.sidebar_second %}
      {{ include('ui_suite_dsfr:grid_row_2', {
          cols: [9, 3],
          cols_sm: [12, 12],
          cols_lg: [9, 3],
          first: page.content,
          second: page.sidebar_first,
          with_gutters: true,
          first_attributes: {
            style: 'order: 2',
          },
          second_attributes: {
            style: 'order: 1',
            role: 'complementary',
          },
        }, with_context: false) }}
    {% elseif not page.sidebar_first and page.sidebar_second %}
      {{ include('ui_suite_dsfr:grid_row_2', {
          cols: [9, 3],
          cols_sm: [12, 12],
          cols_lg: [9, 3],
          first: page.content,
          second: page.sidebar_second,
          with_gutters: true,
          first_attributes: {
            style: 'order: 1',
          },
          second_attributes: {
            style: 'order: 2',
            role: 'complementary',
          },
        }, with_context: false) }}
    {% else %}
      {{ include('ui_suite_dsfr:grid_row_1', {
          content: page.content,
          with_gutters: true,
        }, with_context: false) }}
    {% endif %}
  </main>
  {{ page.bottom }}
  {{ include('ui_suite_dsfr:footer', {
    operator_logo: page.footer_operator_logo,
    content: footer_content,
    content_desc: page.footer_content_desc,
    partners: page.footer_partners,
    bottom: footer_bottom,
    bottom_copy: page.footer_bottom_copy,
    top: footer_top,
    service_title: site_name,
    logo_text: logo_text,
    home_url: path('<front>'),
  }, with_context: false) }}
</div>
